.button-component {
    margin-top: 10px;
    margin-left: 32px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.styled-button {
    border-radius: 50%;
    border: 1px solid #878787;
    background: white;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.counter {
    border: 1px solid #878787;
    padding: 3px 17px 3px 17px;
}