.styled-header {
    background: #2874f0;
    height: 56px;
    width: 100%;
    position: sticky;
}

.component {
    margin-left: 12%;
    line-height: 0;
    text-decoration: none;
    color: inherit;
}

.sub-heading {
    font-size: 13px;
    color: white;
    font-style: italic;
}

.plus-image {
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

.header-container {
    min-height: 56px;
    display: flex;
    align-items: center;
}